# Exploratory Data Analysis

In this notebook some initial exploratory data analysis are performed. In particular, we are interested in the number of `null` values per column and the number of duplicated rows.